# dev
boto3

# test
pytest
pytest-html
pytest-watch
pytest-xdist
moto


# venv

# To autorun tests:
#    Add to the venv/bin/activate file:
#      gnome-terminal -- bash -c "ptw --ext=.py,.json"
#    If your terminal is different, change "gnome-terminal"

# TODO add autokill on deactivate
